<div class="row">
  <div class="col-9">

    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Email</th>
        <th scope="col" class="text-center">Действие</th>
      </tr>
      </thead>
      <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td>
            <%= friend.first_name %>  </td>
          <td>
            <%= friend.last_name %></td>
          <td>
            <%= friend.email %></td>
          <td class="text-center">
            <!--              В кнопку Удалить нам надо отправить по маршруту и передать текущую Акцию, т.к. в таблице UserStock он нам нужен -->
            <!--              как и userID, который мы получим из current_user-->
            <%= link_to "Отписаться", friendship_path(friend), method: :delete, data: {confirm: "Вы уверены?"},
                        class: "btn btn-sm btn-warning"%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>