<div class="container " id="home-container">
  <div class="jumbotron text-center text-white shadow-lg p-3 mb-5 bg-white rounded">
    <h1 class="display-2">Finance Tracker</h1>
    <hr class="my-4">
    <br/>
    <br/>
    <p>Использованно: RoR 6.0, Bootstrap 4.5, Devise </p>
  </div>
  <p class="lead ">Это тестовое приложение, которое позволяет создавать свой портфель с Акциями.
    Данные берутся с тестового сервера биржи IEX ( c исп. gem )  </p>
    <p> Тестовый пользователь: budka52@bk.ru пароль 123456 </p>
  <ul > Функционал:
    <li> - поиск Акций, возможность добавления\удаления в свой портфель</li>
    <li> - поиск друзей и возможность добавления Акций из их портфелей </li>
    <li> - ограничение на отслеживание не более 10 Акций </li>
  </ul>
</div>
